$bg-main: #e1e3e3;
$bg-btn: #1c9271;
$font-color-main: #4b8071; 
$font-family-main: "Roboto", sans-serif;

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-light { color: #1c9271; }

* {
    margin: 0;
    padding: 0;
    font-family: $font-family-main;
    overflow-x: hidden;
}

body {
    display: flex;
    justify-content: center;
}

a {
    color: $font-color-main;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

p {
    line-height: 25px;
}


